<style>
  button {
    background-color: white;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:hover {
    box-shadow: 2px 2px 2px black;
  }
  button:active {
    box-shadow: 1px 1px 1px black;
  }
</style>
<button id="squareButton">
  <div style="padding: 10px; border: 1px solid black"></div>
</button>
